
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Jumbotron Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-brand">
                    @Html.ActionLink("Log In", "Index", "Login", null, new { @class = "page-scroll" })
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        What are your interests?
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <p class="dropdown-item"><input type="checkbox" name="opt1" value="" />&nbsp;&nbsp;&nbsp;&nbsp;My Clubs</p>
                        <p class="dropdown-item"><input type="checkbox" name="opt2" value="" />&nbsp;&nbsp;&nbsp;&nbsp;Sports</p>
                        <p class="dropdown-item"><input type="checkbox" name="opt3" value="" />&nbsp;&nbsp;&nbsp;&nbsp;Gaming</p>
                        <p class="dropdown-item"><input type="checkbox" name="opt4" value="" />&nbsp;&nbsp;&nbsp;&nbsp;Academic</p>
                        <p class="dropdown-item"><input type="checkbox" name="opt5" value="" />&nbsp;&nbsp;&nbsp;&nbsp;Newly Added</p>
                        <p class="dropdown-item"><input type="checkbox" name="opt6" value="" />&nbsp;&nbsp;&nbsp;&nbsp;Most members</p>
                        <p class="dropdown-item"><input type="checkbox" name="opt7" value="" />&nbsp;&nbsp;&nbsp;&nbsp;Least members</p>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search for a club" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Pick your club!</h1>
                <p>Welcome to Pitt's club manager.  This is the place to keep track of all of the clubs you are in!  Click a club's check box to join.  Visit the club's homepage to learn more.</p>
            </div>
        </div>


        @{
            for (var i = 0; i <= @ViewBag.length - 1; i++)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 card">
                            <h2>@Model[i].GetName()</h2>
                            <p>A little description about the club.</p>

                                @Html.ActionLink("Club page", "id", "Club", null, new { @class = "page-scroll" })

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Join @Model[i].GetName()" disabled>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            }
        }

        <hr>
    </main>
    <footer class="container">
        <p>CS1530 Software Engineering</p>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="Scripts/popper.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
