<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/superuser.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<div class="container">
    <h1>Superuser</h1>
    <div id="pendingClubs">
        <h2>Pending Clubs</h2>
        @if (Model.Length == 0)
        {
            <div>No pending clubs</div>
        }
        <table class="table">
            <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Manager</th>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.GetId()</td>
                        <td>@c.GetName()</td>
                        <td>@c.GetDescription()</td>
                        <td>@c.GetManager().GetFirstName() @c.GetManager().GetLastName()</td>
                        <td><a href="@Url.Action("ApproveClub", "Superuser",  new { id = c.GetId()})">Approve</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
