<!doctype html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/login-register.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<html lang="en">
<body>
    <h1>Superuser</h1>
    <div id="pendingClubs">
        <h2>Pending Clubs</h2>
        @if (Model.Length == 0)
        {
            <div>No pending clubs</div>
        }
        <ul>
            @foreach (var c in Model)
            {
                <li><span>@c.GetId() - @c.GetName() - @c.GetDescription() - @c.GetManager().GetFirstName() - @c.GetManager().GetLastName()</span><a href="@Url.Action("ApproveClub", "Superuser",  new { id = c.GetId()})">Approve</a></li>
            }
        </ul>
    </div>
</body>
</html>
